/* Aucune bordure */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* POLICES */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto.ttf') format('truetype');
}

body {
    font-family: 'roboto', sans-serif;
}

/* BARRE DE NAVIGATION */

/* Logo du site */
.logo {
    width: 150px;
}

a > img:only-child {
    display: block;
}

/* Barre de navigation */
header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
}

/* Boutons de navigation */
header li a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    color: black;
    border-radius: 20px;
    font-size: 24px;
}

h1 {
    font-family: 'montserrat', sans-serif;
    color: #155b55;
}

.line {
    border-bottom: 2px solid;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.staff {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.line-header {
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.affichage {
    display: flex;
}

.house-data {
    display: flex;
    flex-direction: column;
}

.house-photo {
    width: 450px;
    height: 270px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #155b55;
    color: white;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 40px;
}

.option-component {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}


.message-box {
    height: 500px;
    width: 60vw;
}

.sendform {
    width: 200px;
    height: 50px;
    border: none;
    color: #155b55;
    border-radius: 20px;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea {
    resize: none;
}