/* Aucune bordure */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* POLICES */
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto.ttf') format('truetype');
}

body {
    font-family: 'roboto', sans-serif;
}

/* BARRE DE NAVIGATION */

/* Logo du site */
.logo {
    width: 150px;
}

/* Barre de navigation */
header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

/* Boutons de navigation */
header li a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    font-family: 'montserrat', sans-serif;
    color: #155b55;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #155b55;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    font-size: 24px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sendform {
    width: 200px;
    height: 50px;
    border: none;
    color: #155b55;
    border-radius: 20px;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 50%;
}

.line {
    border-bottom: 2px solid;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.staff {
    display: flex;
    justify-content: space-around;
}

.line-header {
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

/* Ajuste les dimentions de la grille de projets et du texte de la navbar pour les résolutions inférieures */
@media (min-width: 1000px) {
    .container { width: 50%; }
}