/* Aucune bordure */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Couleur de l'arrière-plan */
body {
    background-color: #155b55;
}

/* Image du site, Bouton se connecter */
img, input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 200px;
    height: 50px;
    border: none;
    color: #155b55;
    border-radius: 20px;
    font-size: 24px;
}